/*
Unect Main Color Code:
・#226ED8
・#1F64C5
*/

  body, ul , li{
    color:inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

    main {
        background-color: #FFF;
        height: 24rem;
        display: flex;
    }
    .main {
    margin: auto;
    }

    footer {
    position: absolute;
    width: 100%;
    height: 402px;
    left: 0px;
    top: 2117px;
    background: #57290B;
    height: auto;
    }


    .container-footer{
    max-width: 1349px;
    padding: 0 4% ;
    margin: auto;
    display: flex;
    }


    .row-footer{
    display: flex;
    flex-wrap: wrap;
    
    }
    .footer-logo{
        list-style: none;
        padding: 30px 40px 0px 30px;
        margin-right: 90px;
    }
    
    .footer-logo h4{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #EBDACC;
    padding: 0px 0px 0px 0px ; 
    margin-top: 10px;
    }

    .footer-logo li{
        list-style: none;
        padding: 0px 30px 0px 60px ;
    }
    
    .footer-contato{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;
        width: 25%;

        display: flex;
        flex-wrap: wrap;
        max-width: 100%;


    }
   
    h4{
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 24px;
        line-height: 33px;
        color: #EBDACC;
        padding: 10px 0px 20px 0px;
        margin-top: 20px;

    }

    .footer-contato li{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #EBDACC;
        padding: 10px 0px 0px 0px;

    }
    
    .footer-itens{
        margin-right: 40px;
    }
    
    .footer-item{
        display: inline-block;
        width: 300%;
        height: 5px;
        margin-left: 5px;
    }

    .item_fone img{
        display: inline-block; 
        margin-bottom: -5px;

    }

    .footer-contato li{
        margin-bottom: 40px;
    }

    .item_email img{
        display: inline-block;
        margin-bottom: -5px;
    }
    .item_endereco img{
        display: inline-block;
        margin-bottom: -5px;
        
    }

  li{
    text-align: justify;
  }

    .item_instagram img{
        display: inline-block;
        margin-bottom: -5px;
    }
    .item_facebook img{
        display: inline-block;
        margin-bottom: -10px;
    }

  
  
    .retangulo{
    list-style: none;
    background: #A76E42;
    height: 2px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 20px;
    margin-top: 40px;
    }
    
    .footer-fim{
        list-style: none;
        color: #EBDACC;
        
    }

    
    .footer-fim ul{
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px 0px 0px;


    }
    .fim-list-1{
        padding: 10px 750px 20px 50px;  
        margin-top: 0px;  
    }
    .fim-list{
        padding-bottom: 30px ;  
    }

 .footer-img li{
    padding: 15px 0px 0px 10px;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-right: 0px;
 }

 